mixw filter=lfs diff=lfs merge=lfs -text
tmat filter=lfs diff=lfs merge=lfs -text
var filter=lfs diff=lfs merge=lfs -text
lda filter=lfs diff=lfs merge=lfs -text
mean filter=lfs diff=lfs merge=lfs -text
